<div class="">
<mat-toolbar color="primary">
  <button mat-icon-button  *ngIf="sidenav.mode =='over'" (click)="sidenav.toggle()">
    <mat-icon *ngIf="sidenav.open">menu</mat-icon>
    <mat-icon *ngIf="!sidenav.open">close</mat-icon>
  </button>
  <span>HR Mangement System</span>
  <span class="example-spacer"></span>
  <img src="../assets/CEIC.PNG" alt="CEIC">
 <!--  <button mat-raised-button routerLink="register">Add</button> -->
</mat-toolbar>
</div>
 <mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav">
    <mat-divider></mat-divider>
      <button mat-button routerLink="view" class="btn2" routerLinkActive="btn">
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </button>
      <mat-divider></mat-divider>
      <button mat-button routerLink="register" class="btn2" routerLinkActive="btn">
        <mat-icon>add</mat-icon>
        <span>addEmployee</span>
      </button>
      <mat-divider></mat-divider>
      <button mat-button routerLink="employee" class="btn2" routerLinkActive="btn">
        <mat-icon>list</mat-icon>
        <span>viewEmployee</span>
      </button>
      <mat-divider></mat-divider>
      <mat-divider></mat-divider>
      <button mat-button routerLink="salery" class="btn2" routerLinkActive="btn">
        <mat-icon>list</mat-icon>
        <span>viewSalery</span>
      </button>
      <mat-divider></mat-divider>
      <button mat-button class="btn2" routerLinkActive="btn">
        <mat-icon>folder</mat-icon>
        <span>Project</span>
      </button>
      <mat-divider></mat-divider>
      <button mat-button class="btn2" >
        <mat-icon>logout</mat-icon>
        <span>logout</span>
      </button>
      <mat-divider></mat-divider>
  </mat-sidenav>
   <mat-sidenav-content>
     <div class="content">
      <div class="container mt-4">
        <router-outlet></router-outlet>
      </div> 
    </div> 
  </mat-sidenav-content> 
</mat-sidenav-container> 

