.center{
    max-width:720px;
    margin: 0px auto;
}

.box1 , .box2{
    width: 300px;
    height: 300px;
    text-align: center;
    background-color: lightcyan;
    cursor: pointer;
    box-shadow: 30px 30px 20px rgba(0,0,0,0.2);
}

span{
    position: relative;
    top:50%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: bold;
}

