<div class="container center">
    <div class="photo">
        <img src="../../assets/CEIC.PNG" alt="CEIC">
     </div>
    <h1>Human Resource and Project Mangement System</h1>
      <div>
                <h2>About center of excellece</h2>
            <div class="all"> 
                <div class="word">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum quasi distinctio quod modi ducimus id, odio sit animi debitis eveniet optio nulla delectus, ea veritatis nesciunt unde, architecto sequi ad!
                    Quia placeat voluptate doloremque, sequi ipsa adipisci distinctio qui veniam voluptates architecto odio, ea corrupti quis et molestiae illum laboriosam perferendis ab quo aperiam? Recusandae quod cum explicabo dolorem rerum!
                    Est dolor eaque necessitatibus. Magnam quos vitae sunt quas quibusdam dolorem voluptates blanditiis perferendis beatae omnis nam cumque, dolor nesciunt itaque aliquid labore sint laudantium quaerat, quae minima totam. Illo?
                    Distinctio modi, iure in velit, veritatis minus sequi eum nisi, quod molestias expedita tempora laudantium ullam! Porro eius, corrupti autem veniam fuga similique vitae labore nostrum perferendis, impedit possimus non!
                    Debitis, provident. Rem ea saepe ipsum praesentium harum placeat, voluptatem delectus debitis eum ullam voluptate velit ducimus aut consectetur fugit atque similique autem, quasi quidem maxime dolor non. Officiis, earum.
                </div>

      </div>
      
    </div>
  </div>

 