<div class="registartion-form m-1 p-4">
<form [formGroup]="userForm">
  <div class="row">
    <div class="mb-4" style="text-align: center;"> 
      <img src="../../assets/CEIC.PNG" alt="CEIC Photo" class="mb-4 m">   
      <h1>Fill Empeloyee Information</h1>
    </div>
    <div class="col-md-6">    
      <mat-form-field appearance="outline">
        <mat-label>Frist Name</mat-label>
        <input matInput placeholder="Frist Name" formControlName="fristName">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      </mat-form-field>
    </div>
    
    <div class="col-md-6">    
      <mat-form-field appearance="outline">
        <mat-label>Last Name</mat-label>
        <input matInput placeholder="Last Name" formControlName="lastName">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      </mat-form-field>
    </div>

    <div class="col-md-6">    
      <mat-form-field appearance="outline">
        <mat-label>Salery</mat-label>
        <input matInput placeholder="Salery" formControlName="salery">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      </mat-form-field>
    </div>

    <div class="col-md-6">    
      <mat-form-field appearance="outline">
        <mat-label>Address</mat-label>
        <input matInput placeholder="Address" formControlName="address">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      </mat-form-field>
    </div>

    <div class="col-md-6">    
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Email" formControlName="email">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      </mat-form-field>
    </div>
    
    <div class="col-md-6">    
      <mat-form-field appearance="outline">
        <mat-label>Phone Number</mat-label>
        <input matInput placeholder="Phone Number" formControlName="phone">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      </mat-form-field>
    </div>

    <div class="col-md-6">    
      <mat-form-field appearance="outline">
        <mat-label>Age</mat-label>
        <input matInput placeholder="Age" formControlName="age">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      </mat-form-field>
    </div>
    <div class="col-md-6">    
      <mat-form-field appearance="outline">
        <mat-label>Study</mat-label>
        <input matInput placeholder="study" formControlName="study">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      </mat-form-field>
    </div>
    <div class="col-md-6">    
      <mat-form-field appearance="outline">
        <mat-label>Choose Education Lavele</mat-label>
        <mat-select formControlName="degree">
          <mat-option value="BA. Degree">BA. Degree</mat-option>
          <mat-option value="MA. Degree">MA. Degree</mat-option>
          <mat-option value="PHD. Degree">PHD. Degree</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    
    <div class="col-md-6">    
      <mat-form-field appearance="fill">
        <mat-label>Custom calendar header</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="date">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>

    <div class="col-md-6">    
      <mat-radio-group formControlName="gender">
        <mat-label style="font-weight: bold; flex-direction: column;">Gender</mat-label>
        <mat-radio-button value="Male">Male</mat-radio-button>
        <mat-radio-button value="Female">Female</mat-radio-button>
      </mat-radio-group> 
    </div>

    <div class="col-md-6">    
      <mat-radio-group formControlName="employee">
        <mat-label style="font-weight: bold; flex-direction: column;">Employement Type</mat-label>
        <mat-radio-button value="Staff">Staff</mat-radio-button>
        <mat-radio-button value="Inter">Inter</mat-radio-button>
      </mat-radio-group> 
    </div>
    <button *ngIf="!updateActive" mat-raised-button color="accent" class="m-4 btn" (click)="submit()">Submit</button>
    <button *ngIf="updateActive" mat-raised-button color="accent" class="m-4 btn" (click)="update()">Update</button>
  </div>
</form>
</div>
